:root {
	--theme-color: #2fb3fe;
}

*, *::before, *::after { box-sizing: border-box; }

body {
	background-color: #555;
	background-image: repeating-linear-gradient(45deg, transparent, transparent
	4px, rgba(0,0,0, .2) 4px, rgba(0,0,0, .2) 8px);
	margin: 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75;
	background-attachment: fixed;
}

nav {
	text-align: center;
	max-width: 1450px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}

nav ul a {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 11px;
	display: inline-block;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: #2985d1;
	text-decoration: none;
}

/* .download-pdf {
	background-image: url(../img/icon-pdf.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 20px 24px;
	padding-right: 24px;
}

.watch-yt-video {
	background-image: url(../img/icon-youtube.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px 24px;
	padding-right: 30px;
}

.visit-website {
	background-image: url(../img/icon-external-link.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px 24px;
	padding-right: 30px;
} */
/* target any link whose href ends in ".pdf"*/

a[href$=".pdf"] {
	background-image: url(../img/icon-pdf.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 20px 24px;
	padding-right: 24px;
}

a[href^="https://"] {
	background-image: url(../img/icon-external-link.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px 24px;
	padding-right: 30px;
}

a[href*="youtube"] {
	background-image: url(../img/icon-youtube.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 24px 24px;
	padding-right: 30px;
}

h1, h2 {
	font-family: 'Alfa Slab One', 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 1.2;
}


h1 {
	font-size: 11vw;
	margin-bottom: 10px;
}

h2 {
	font-size: 28px;
	/* background: #2fb3fe; */
	color: #000;
	padding: 15px;
	padding-bottom: 5px;
	margin-top: 0;
}
/* Target sections insode hikes.html ONLY, since that is the only page that has <main class="price-list"> */
/* give all sections in both html pages t a white background */
section {
	background-color: #fff;
}
/* then override white bg in hikes.html sections ONLY
middle column will not be affected, since it has its own local bg color */
.price-list section {
	display: flex;
	flex-direction: column;
	background-color: #ddd;
	margin-top: 50px;
}

section {
	margin: 15px;
}

/* text wrapper is a div found */
.text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-wrapper * {
	border: 4px dashed orange;
}

h2 + p {
	margin-top: 0px;
	font-weight: 700;
	font-style: italic;
	opacity: .4;
}

header, section {
	/* border: 4px solid var(--theme-color); */
	margin: 30px auto;
	background: #fff;
	padding: 20px;
	/* max-width: 800px; */
}

header {
	background-image: linear-gradient(rgba(0,201,255, .6), rgba(146,254,157, .6)),
					url(../img/masthead.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 2% 5%;
	max-width: 1450px;
}

header img {
	width: 130px;
}

main {
	/* border: 4px dashed orange; */
	max-width: 1300px;
	margin: 0 auto;
}
.read-more:hover, .read-more:focus {
	color: red;
}

.read-more svg {
	vertical-align: baseline;
	margin-left: 5px;
}

.read-more svg * {
	stroke: currentColor;
	stroke-width: 1.2;
}

.read-more::after {
	content: " »";
}

.popular {
	background-color: var(--theme-color);
	color: #fff;
	padding: 10px 15px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.book-now-btn {
	background-color: orange;
	border-radius: 15px;
	color: #fff;
	padding: 5px 15px;

}
footer {
	color: #ccc;
	text-align: center;
	font-weight: 300;
}

@media (min-width: 800px) {
	header, section {
		box-shadow: 5px 15px 10px #00000055;
	}

	body {
		margin: 15px;
		background-image: none;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* max-width: 1000px; */
		margin-top: 15px;
		height: 37.5vh;
		border: none;
	}

	/* section a {
		border: 4px dashed orange;
		background-color: orange;
		text-decoration-color: #fff;
	} */
	

	nav {
		display: flex;
		justify-content: space-between;
		background-color: #00000054;
		position: fixed;
		padding: 15px;
		top: 10px;
		/* left and right both 0 stretch the element to span the entire width of the page */
		left: 0;
		right: 0;
		text-align: left;
		/* max-width: 1000px; */
		margin: 0 auto;
	}

	nav img {
		max-width: 180px;
		padding-left: 10px;
	}

	nav ul a:hover, nav ul a:focus {
		background-color: var(--theme-color);
	}

	nav ul a {
		font-weight: 420;
		font-size: 12px;
	}

	h1 {
		font-size: 5vw;
		margin-top: 100px;
	}

	/* nav ul {
		float: right;
	} */
}


@media (min-width: 1100px) {
	h1 {
		font-size: 4vw;
	}
	main {
		display: flex;
		
	}
	section {
		margin: 10px;
	}
}

@media (min-width: 1400px) {
	h1 {
		font-size: 3vw;	
	}
}